/* ITMD361 Production Problem 4 - John Chiodo */
/* https://github.com/jchiodo123/ITMD361-Production-Problem-4 */
/* 03/29/2017 */

/* display starfield background */
body {
	background-image: url("../images/bkground.jpg");

	}

/* table of width 96% */
table {
	border-collapse: collapse;
	width: 98%;
	margin: 0 auto;
}

/* column width adjusters, using 96% */
.col1Width { width: 28%; }
.col2Width { width: 17%; }
.col3Width { width: 17%; }
.col2Width { width: 17%; }
.col3Width { width: 17%; }


/* Center the table of width 96%, using the position */
/* left 50%, left margin negative half the container width */
/* method.  */
.container {
	width: 960px;
	position: relative;
	left: 50%;
	margin-left: -480px;
}

.smaller{
	font-size: .8em;
}
/* Table header styles */
th {
	background: #659ed8;
	color: azure;
	border: 1px solid #a27701;
	font-weight: bold;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Macondo', cursive;
	font-size: 1.6em;
}

/* Table data cells styles */
td {
	font-size: 1em;
	border: 1px solid #a27701;
	text-align: center;
	font-family: 'Space Mono', monospace;
	
}

.planetTable tbody tr:nth-child(9) td:nth-child(1) {
	background-color: #a27701;
	text-align: center;
/*	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;*/
	padding: 5px;
}

.planetTable tbody tr:nth-child(1) td:nth-child(1) {
	background-image: url("../images/bkground.jpg");
	border-color: black;
	padding: .3em;
}	
	
.planetTable tbody tr:nth-child(1n+2) td:nth-child(1) {
	font-weight: 600;
}

/* used to fine tune the text in the data cells */
.value {
	padding: 7px;
}

.attribute {
	padding: 5px;
	text-align: left
}

/* Alternate color row striping */
tr:nth-of-type(odd) {
	background: #f5f5f2;
}
tr:nth-of-type(even) {
	background: #fcf0d0;
}

/* anchor styles */
a {
	text-decoration: none;
	color: azure;
}

a:hover {
	color: #e2ea15;
	background-color: #356aa0;
}

#planetheading {
	font-size: 2.5em;
	color: #5aa0e6;
	font-family: 'Macondo', cursive;
	text-align: center;
}

/*******************************************/
/* footer style, some fun with transitions */
/*******************************************/

footer {
	font-size: 1em;
	background-color: #4f98cb;
	color: azure;
	border: .25em solid #a27701;
	border-radius: 10px;
	padding: .25% .5%;
	margin: 2% 3%;
	float: right;
transition: background-color 0.3s ease;
}

footer:hover {
	background-color: #e8dfd4;
			box-shadow:none;
}

/* footer->address styles */

address a[href^="mailto:"]:hover {
	background-color: #e8dfd4;
}

address {
	color: black;
	font-style: normal;
}
 
address a[href^="mailto:"] {
	display: block;
	color: black;
	font-style: italic;
	text-align: center;

}