#planetTable {
	width: 90%;
	border-collapse: collapse;
}

th {
	background: #a50707;
	color: white;
	font-weight: bold;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.6em;
}

td {
	padding: 0px;
	border: 1px solid #ccc;
	text-align: middle;
	/*overflow-wrap: break-word; */
	font-family: 'Space Mono', monospace;
}

.value {
	padding-left: 5px;
	padding-right: 2px;
}

/* Row striping */

tr:nth-of-type(odd) {
	background: #f5f5f2;
}

tr:nth-of-type(even) {
	background: #fcf0d0;
}

/* Spacer children */
.planetTable tbody tr:nth-child(10) td:nth-child(1n+1),
.planetTable tbody tr:nth-child(20) td:nth-child(1n+1),
.planetTable tbody tr:nth-child(30) td:nth-child(1n+1){
	background: cadetblue;
	padding: .3em;
}

/* Simulated sub header children*/
.planetTable tbody tr:nth-child(1) td:nth-child(1n+1),
.planetTable tbody tr:nth-child(11) td:nth-child(1n+1),
.planetTable tbody tr:nth-child(21) td:nth-child(1n+1),
.planetTable tbody tr:nth-child(31) td:nth-child(1n+1){
	background: #060676;
	color: white;
	font-weight: bold;
	padding: 6px;
	text-align: center;
	vertical-align: baseline;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.2em;
}

/* NASA Science Solar System Exploration children link */
.planetTable tbody tr:nth-child(9) td:nth-child(1),
.planetTable tbody tr:nth-child(19) td:nth-child(1),
.planetTable tbody tr:nth-child(29) td:nth-child(1),
.planetTable tbody tr:nth-child(39) td:nth-child(1)
{
   background-color: #a27701;
	text-align: center;
	 padding: 5px;
}


a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #e2ea15;
	background-color: black;
}

/*a.active {
	background: #136caa;
	color: #ddeaf4;
	border: 3px solid #e8dfd4;
	cursor: default;
	box-shadow: #5d646a 0 0 2px;
}
*/
.tooltip {
    position: relative;
    display: inline;
    border-bottom: 1px dashed black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* CSS backround in first column for venus pics */
.venusImgBox { 
	width: 200px; 
	height: 196px; 
	background: url("../images/venus1.jpg") no-repeat; } 

.venusImgBox:hover { 
	width: 200px;  
height:  196px;
	background: url("../images/venus2.jpg") no-repeat;
	z-index: -1;
}

/* CSS backround in first column for jupiter pics */
.jupiterImgBox { 
	width: 200px; 
	height: 196px; 
	background: url("../images/jupiter1.jpg") no-repeat; } 

.jupiterImgBox:hover { 
	width: 200px;  
	height:  196px;
	background: url("../images/jupiter2.jpg") no-repeat;
	z-index: -1;
}

/* CSS backround in first column for saturn pics */
.saturnImgBox { 
	width: 200px; 
	height: 196px; 
	background: url("../images/saturn1.jpg") no-repeat; } 

.saturnImgBox:hover { 
	width: 200px;  
	height:  196px;
	background: url("../images/saturn2.jpg") no-repeat;
	z-index: -1;
}
/* CSS backround in first column for saturn pics */
.uranusImgBox { 
	width: 200px; 
	height: 196px; 
	background: url("../images/uranus1.jpg") no-repeat; } 

.uranusImgBox:hover { 
	width: 200px;  
	height:  196px;
	background: url("../images/uranus2.jpg") no-repeat;
	z-index: -1;
}

